# Minimal requirements.txt to install DBT and Great Expectations

# Setup Great Expectations
snowflake-sqlalchemy==1.4.4
sqlalchemy==1.4.46
great-expectations==0.15.46

# Setup DBT
# Pin cryptography version
cffi==1.15.0
cryptography~=3.4

dbt-core==1.4.1
dbt-snowflake==1.4.0

# Depdency pinning for incompatible messages
Jinja2==3.1.2
jsonschema==3.1.1
typing-extensions==3.10.0.2